<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/mainperfil.css">
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <div id="layout">
    
  <% include partials/menu %>
 <div id="w">
  <div id="content" class="clearfix">
    
    <%if (message.length > 0 ) { %>
    <div><%= message %></div>
    <% } %>

    <div id="userphoto"><img src="../img/avatar.png" alt="default avatar"></div>
    <h1>Perfil Jugador</h1>

    <nav id="profiletabs">
      <ul class="clearfix">

        <li><a href="#desc" class="sel">Presentación</a></li>
        <li><a href="#datos" >Datos Personales</a></li>
        <li><a href="#transc">Transcripciones</a></li>
        <li><a href="#amigos">Amigos</a></li>
        
      </ul>
    </nav>
    
    <section id="desc" >
      <p> La exigencia mental de todo jugador culmina frente al arco, lo cual presupone que el arquero tenga características muy especiales precisamente para enfrentar la situación. </p>
      
      <p> Su carácter fuerte y su impulso anímico se deberán imponer y esto a su vez le conferirán una disposición óptima para oponerse a la fuerza agresiva del adversario en el foco mismo de las acciones frente al arco. </p>
    </section>
    
    <section id="transc" class="hidden">
      <p><b>Transcripciones Realizadas:</b></p>
      <%for(var i = 0; i < transcriptions.length; i++){%>
        <div class= "activity">
          <label class="lbl_title"><b>Transcripcion:</b> <%=transcriptions[i].title_video%></label><br>
          <a href='/solo/<%=transcriptions[i]._id%>'/>
            <img class="video" src="http://img.youtube.com/vi/<%=transcriptions[i].videoId%>/0.jpg">
            </img>
          </a>
          <input type="button" class="btn" value="Editar">
          <input type="button" class="btn" value="Descargar">
          <label class="date_style"><%=transcriptions[i].creationDate%></label>
        </div>
      <% } %>

    </section>
    
    <section id="amigos" class="hidden">
      <p><b>Lista de Amigos:</b></p>
      
      <ul id="friendslist" class="clearfix">
        <li><a href="#"><img src="../img/avatar.png" width="22" height="22"> Username</a></li>
        <li><a href="#"><img src="../img/avatar.png" width="22" height="22"> SomeGuy123</a></li>
        <li><a href="#"><img src="../img/avatar.png" width="22" height="22"> PurpleGiraffe</a></li>
      </ul>
    </section>
    
    <section id="datos" class="hidden">
      <p><b>Datos Personales:</b></p>
       <form id="profile" action="/profile" method="post">
        <p class="setting"><span>Nombre</span> <%=user.local.nombre%></p>
        <p class="setting hidden"><span>Nombre</span> <input type="text" name="nombre" value="<%=user.local.nombre%>"></p>

        <p class="setting"><span>E-Mail</span> <%=user.local.email%></p>
        <p class="setting hidden"><span>E-mail</span> <input type="text" name="email" value="<%=user.local.email%>"></p>
          
        <p class="setting"><span>Idioma</span> <%=user.local.idioma%></p>
        <p class="setting hidden"><span>Idioma</span> <input type="text" name="idioma" value="<%=user.local.idioma%>"></p>
  
        <div id="actualizarInfo" class="actualizar">
            <span class="button_estado" onClick="cambiarEstado()"><b>Actualizar Info</b> <img src="../img/edit.png" alt="Edit"></span>
        </div>
        <div id="cambios" class=" hidden cambios">
            <button  type="submit">Ingresar Cambios</button>
            <span class="button_estado" onClick="estadoInicial()">Cancelar</span>
        </div>
      </form>
    </section>
  </div><!-- @end #content -->
</div><!-- @end #w -->
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/profile.js"></script>

</body>
</html>